/* Color code 1 */
:root{
   --blueberry-darker-1: #242c44;
   --blueberry: #333e60;
   --blueberry-lighter-1: #858a99;
   --blue-darker-1: #186cbe;
   --blue: #1576d1;
   --blue-lighter-1: #1388e6;
   --blue-light: #2686e1;
   --blue-lighter-2: #e8f2f9;
   --red: #f8444c;
   --powdery: #ffb494;
   --beige-darker-1: #bfbcb8;
   --beige: #e3dfdb;
   --beige-lighter-1: #edebe8;
   --beige-lighter-2: #f8f3ee;
   --beige-lighter-3: #fdf9f4;
   --white: #fff;
   --green-darker-2: #0ca370;
   --green-darker-1: #12af7a;
   --green: #1ac98e;
}

/* color code 2 */
